*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-body: #F5F6FF;
    --color1: #01078E;
    --color2: #D9DDFF;
}

body{
    background-color: var(--bg-body);    
}

.header-img img{
    background-color: var(--color1);
    width: 100%;
    height: 240px;
    object-fit: cover;
}

/* .header-img img {
    width: 100%;
    height: 100%;
} */

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1220px;
}


/* Card dev */
.card-perfil {
    background-color: #FFFFFF;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: -130px;
    width: 380px;
    height: 640px;
}

.conteudo-card-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 30px;

}

.info-dev {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.img-perfil img{
    background-color: var(--color1);
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.btns-perfil {
    margin: 20px 0;
}
.btn-perfil {
    background-color: var(--color1);
    width: 235px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-perfil:hover{
    background-color: #000457;
}

.contatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Conteudo */

.conteudos {
    margin: 20px 50px;
}

/* Habilidades */
.habilidades {
    margin-bottom: 10px;
}

.habilidades p {
    margin-left: 35px;
}

.habilidades span {
    font-weight: bold;
}

/* Projetos */
.projetos {
    margin-top: 26px;
}

.cards-projetos {
    display: flex;
    flex-direction: row;
    margin: 12px 40px;
}

.card-projeto {
    background-color: var(--color2);
    width: 200px;
    height: 150px;
    margin-right: 15px;
    border-radius: 10px 0px;
}

.card-projeto a{
    text-decoration: none;
    color: black;
}

.img-projeto img{
    background-color: var(--color1);
    width: 100%;
    height: 100px;
    border-radius: 10px 0px 0px 0px;
    object-fit: initial;
}

.info-projeto {
    background-color: var(--color2);
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 10px 0px;
    padding: 5px 10px;
}

.info-projeto h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.info-projeto p {
    font-size: 12px;
}

/* Experiência proficional */
.experiencias {
    margin-top: 26px;
}

.experiencia {
    margin-left: 35px;
}

.trabalhos-feitos {
    margin-left: 35px;
}

/* Formações acadêmicas */
.formacoes-academicas {
    margin-top: 26px;
}

.formacoes {
    margin-left: 35px;
}

footer {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
	bottom: 0;
    width: 100%;
    height: 40px;
}

footer p {
    font-weight: 100;
    font-style: normal;
    color: #FFFFFF;
}