@media (max-width: 1010px) {
    .header-img img{
        width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    /* Card Dev */
    .card-perfil {
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        margin-top: -5px;
        border-radius: 0px;
    }

    .conteudo-card-perfil {
        margin: 20px 10px;
    }

    .img-perfil img {
        margin-top: -50px;
        border: 5px solid #ffffff;
    }

    .info-dev {
        margin: 0px;
    }

    .btns-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
    }
    .btn-perfil {
        width: 75%;
    }

    .contatos {
        margin-top: 10px;
    }

    .conteudos {
        margin: 10px 10px;
    }

}



@media (max-width: 475px) {
    .cards-projetos {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        
    }

    .card-projeto{
        margin: 10px 0px;
    }

    .card-projeto {
        background-color: var(--color2);
        width: 200px;
        height: 150px;
        border-radius: 10px 0px;
    }
    
    .card-projeto a{
        text-decoration: none;
        color: black;
    }
    
    .img-projeto img{
        background-color: var(--color1);
        width: 100%;
        height: 100px;
        border-radius: 10px 0px 0px 0px;
        object-fit: initial;
    }
    
    .info-projeto {
        background-color: var(--color2);
        width: 100%;
        height: 50px;
        border-radius: 0px 0px 10px 0px;
        padding: 5px 10px;
    }
    
    .info-projeto h3 {
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .info-projeto p {
        font-size: 12px;
    }

    .conteudos h2 {
        font-size: 22px;
    }

}